@charset "ISO-8859-1";
body {
	background-image: url("/Groupe5_Eventech/img/backProf.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}
#section {
	display: flex;
	flex-direction: row;
}
#column1 {
	padding-right: 100px;
	margin-left: 30px;
}
#column2 {
	padding-left: 50px;
	padding-right: 30px;
}
#section p {
	color: maroon;
}
body h2 {
	color: purple;
}