@charset "ISO-8859-1";

body {
	
	background-size: cover;
}
#event1 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: white;
	padding-top: 50px;
	padding-bottom: 50px;
}
#columnF {
	width: 30%;
	margin-left: 100px;
}
#columnS {
	width: 50%;
	padding-left: 250px;
	padding-right: 30px;
	line-height: 1.5;
}
#event1 p {
	color: black;
}
body h2 {
	color: navy;
}
body h3 {
	color: black;
}
#event2 {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	background-color: silver;
	padding-top: 50px;
	padding-bottom: 50px;
}
#columnFO {
	width: 30%;
	margin-right: 150px;
}
#columnSO {
	width: 50%;
	padding-right: 250px;
	padding-left: 30px;
	line-height: 1.5;
}