@charset "UTF-8";

@font-face {
	font-family: 'Roboto', sans-serif;
	src: url('https://fonts.googleapis.com/css?family=Roboto');
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #fcf6f4 !important;
}

#V {
	background-color: #F28F3B;
}

.gj-datepicker-bootstrap [role="right-icon"] button {
	color: white;
	background-color: #F28F3B;
}

.gj-datepicker-bootstrap [role="right-icon"] button:hover {
	color: black;
	background-color: #F28F3B;
}

.gj-timepicker-bootstrap [role="right-icon"] button {
	color: white;
	background-color: #F28F3B;
	border: 1px solid #ced4da;
}

.gj-timepicker-bootstrap [role="right-icon"] button:hover {
	color: black;
	background-color: #F28F3B;
}