@charset "ISO-8859-1";
/* Général ------------------------------------------------------------------------------------- */

body {
	background-image: url("img/1.jpg");
}

#form {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}
#first {
	background-color: rgba(0, 0, 255, 0.2); 
	box-shadow: 6px 6px 20px grey;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	border-radius: 20px;
	font-size: 1.2em;
}
#second {
	background-color: rgba(0, 0, 255, 0.2);
	box-shadow: 6px 6px 20px grey;
	padding-right: 20px;
	padding-bottom: 30px;
	padding-left: 20px;
	border-radius: 20px;
	font-size: 1.2em;
}
table {
	padding-top: 50px;
	padding-bottom: 50px;
	
}
#form table tr td h2 {
	color: lime;
	font-size: 1.2em;
	text-align: center;
	padding-bottom: 50px;
}
#form table tr td p {
	color: aqua;
}
.sil {
	text-align: center;
}



