@charset "ISO-8859-1";
/* Général ------------------------------------------------------------------------------------- */

body {
	background-image: url("img/1.jpg");
}

#form {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
#first {
	background-color: rgba(0, 0, 255, 0.3);
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	border-radius: 20px;
}
#second {
	background-color: rgba(0, 0, 255, 0.3);
	padding-right: 20px;
	padding-bottom: 30px;
	padding-left: 20px;
	border-radius: 20px;
}
table {
	padding-top: 50px;
	padding-bottom: 50px;
}


