@charset "ISO-8859-1";

#end {	
 position: fixed;
 top: 0;
 width: 100%;
 z-index: 1;
}
#header
{
  height: 600px;
  background-image: url(/Groupe5_Eventech/img/imgH.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.inv {
	opacity: 0;
}