@charset "ISO-8859-1";

/* Déclaration de la police */
@font-face {
	font-family: 'Roboto', sans-serif;
	src: url('https://fonts.googleapis.com/css?family=Roboto');
}

#end {	
 position: fixed !important; 
 top: 0 !important;
 width: 100% !important;
 z-index: 1 !important;
}

#header
{
  height: 600px;
  background-image: url(/Groupe5_Eventech/img/imgH.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.inv {
	opacity: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	width: 100%;
}
